<div [class]="{'loader-center':!restaurant}">
    <mat-spinner *ngIf="!restaurant"></mat-spinner>
</div>
<div class="restaurant-container">
    <mat-sidenav-container>
        <mat-sidenav-content>
            <!-- <app-navbar [userName]="userName"></app-navbar> -->
            <app-navbar></app-navbar>
            <div class="menu-container" *ngIf="restaurant">
                <div class="restaurant-meta">
                    <div class="restaurant-meta-data">
                        <h3 class="mat-display-1">{{restaurant.name}}</h3>
                        <div class="address">
                            <mat-icon>location_on</mat-icon>
                            <p>{{restaurant.address}}</p>
                        </div>
                    </div>
                    <mat-icon matBadge="{{cartItems.length}}" matBadgeColor="warn" class="shopping-cart" (click)="sidenav.toggle(); scrollTop()" *ngIf="cartItems.length">shopping_cart</mat-icon>
                    <mat-icon class="shopping-cart" (click)="toggleSideNav()" *ngIf="!cartItems.length">shopping_cart</mat-icon>
                </div>
                <div class="restaurant-menus">
                    <app-restaurant-menu [restaurant]="restaurant" (addToMyCartEvent)="addToMyCart($event)" 
                    [class]="{'apply-felx-basis': cartItems.length}"></app-restaurant-menu>
                    <mat-divider [vertical]="true"></mat-divider>
                </div>
            </div>
        </mat-sidenav-content>
        <mat-sidenav #sidenav [mode]="$any('toggleMode')" position="end" [opened]="false">
            <div class="price-container" *ngIf="!cartItems.length">
                <h3>My Basket</h3>
                <p class="empty-basket">
                    Your basket is empty. Please add items to your basket.
                </p>
            </div>
            <div class="price-container" *ngIf="cartItems.length">
                <h3>My Basket</h3>
                <div class="cart-items">
                    <app-restaurant-cart [cartItems]="cartItems" (removeQuantityEvent)="removeQuantity($event)"
                    (addQuantityEvent)="addQuantity($event)" (removeItemEvent)="removeItem($event)"></app-restaurant-cart>
                    
                </div>
                <div class="amount" *ngIf="cartItems.length"> Bill Amount: {{'\u20B9'}} {{totalAmount}}</div>
                <button mat-raised-button color="warn" class="calculate-menu" *ngIf="cartItems.length && totalAmount" (click)="openPaymentMethod()">
                    Pay Bill
                </button>
            </div>
        </mat-sidenav>
    </mat-sidenav-container>
</div>


